<html>
    <head>
        <title>Library Finder</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"   
        href="https://www.w3schools.com/w3css/4/w3.css">
   <style>
       .heading { font-family:sans-serif; font-size:x-large;text-align: center;}
       .subheading { font-family:sans-serif; font-size:large;text-align: left;}
   </style>
        <body>
            <div class="grid-container">
                <div id="page-header">
                    <span class="heading">Library z</span><br>
                   
                    <br>
                    
                </div>
               
                <div id="local-navigation"> 
                   <div>Here are the details for Library z</div>
                    <br>
                   
<br>

                   
                </div>
                <div id="contextual-naviagation"></div>
               <br> <div><table class ="w3-table">
                    <tr class = "w3-blue">
                      
                      <th>Library Name </th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Phone number</th>
                    </tr>
                    <tr>
                      <td>Library z </td>
                      <td>Random address</td>
                      <td>libraryz@hotmail.co.uk</td>
                      <td>43857-058674</td>
                    </tr>
                   
                  </table></div>
                  <br>
                  <br>
                    <button onclick="location.href='index.html'"class = "w3-red w3-round">Back</button>


            </div>
        </body>
    </head>
</html>