<html>

<head>
    <%- include("templates/header.ejs") %> 

<body>
  
    <div id="page-header">
      <span class="heading">Library Finder</span><br>
     

      <br>

    </div>
    <div id="local-navigation">
  <div>
      "hello welcome to library finder please select a viewing option"
  </div>



      <br>
      
      
    </form>
    </div>
    <div id="contextual-naviagation"></div>

    <button onclick="location.href='index.html'"  type = "submit" class="w3-btn w3-blue w3-block w3-round">View libraries in a table </button>
    
    <br>
    <button onclick="location.href='map.html'"  type = "submit" class="w3-btn w3-blue w3-block w3-round">View libraries in a map</button>

      </body>
    </table>

    <br>

</body>
</head>

</html>